@model IEnumerable<bookStore.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Автори</h2>

@if (User.IsInRole("Seller") || User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Додади нов автор", "Create", null, new { @class = "btn btn-default" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Authors/Browse?author=@item.Name">@item.Name</a>
            </td>
            <td>
                @if (User.IsInRole("Seller"))
    {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
if (User.IsInRole("Administrator"))
{
                        <br />
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

}
}

            </td>
        </tr>
    }

</table>
