@model bookStore.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <h4>@Html.ActionLink(Model.Author.Name, "Details", "Authors", new { id = Model.AuthorId }, null)</h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
            <img src="@Model.ImageURL" style="max-width:200px" />
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.ActionLink(Model.Genre.Name, "Details", "Genres", new { id = Model.GenreId }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        @if (User.IsInRole(bookStore.Models.Role.Seller))
    {
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
}
        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>
        <dd>
            @Html.ActionLink(Model.Store.Name, "Details", "Stores", new { id = Model.StoreId }, null)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(bookStore.Models.Role.Seller))
    {
        @Html.ActionLink("Промени", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        <br /><br />
        @Html.ActionLink("Избриши", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })<br /> <br />
    }
    else {
    <button data-id="@Model.Id" class="btn btn-danger js-add">Додади во кошничка</button><br /><br />
    }

    @Html.ActionLink("Врати се назад", "Index", null, new { @class = "btn btn-default" })
</p>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.js-add').on("click", function () {
                var button = $(this);
                bootbox.confirm("Dodaj vo kosnicka?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/ShoppingCart/OrderNow/" + button.attr("data-id"),
                            method: "POST",
                            success: function (result) {
                                window.location.reload()
                            }
                        })
                    }
                })
            })
        })
    </script>
}
