@model IEnumerable<bookStore.Models.Genre>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="/Genres/Browse?genre=@item.Name">@item.Name</a>
        </td>
        @if (User.IsInRole("Administrator"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
}

    </tr>
    }

</table>

@if (User.IsInRole("Administrator") || User.IsInRole("Seller"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
}
